#
# The IceBox ServiceManager object can be provided by configuring 
# IceBox.ServiceManager.Endpoints (and optionally
# IceBox.InstanceName), or as a facet of the Ice.Admin object
# (or both if you like). Make sure to keep config.admin
# synchronized with these settings.
# 

#
# IceBox.ServiceManager configuration
#

#
# The IceBox instance name is used to set the category field of the
# IceBox ServiceManager identity.
#
IceBox.InstanceName=EbangEms

#
# The IceBox server endpoint configuration
 
IceBox.ServiceManager.Endpoints=default -p 44008 -h localhost


#
# Ice.Admin configuration
#

#
# Enable Ice.Admin object:
#
#Ice.Admin.InstanceName=EbangEms
#Ice.Admin.Endpoints=tcp -p 9996 -h localhost


#
# The ConifgLoadableServer service
#
IceBox.Service.ConifgLoadableServer=.\icebox\services\Ebang.Server.IceServer.IceBoxManage.dll:Ebang.Server.IceServer.IceBoxManage.ConifgLoadableServer  --Ice.Config=.\icebox\config\apply.config configFile=".\icebox\config\applyServices.xml"

ConifgLoadableServer.Endpoints=default -p 44009 -h 0.0.0.0

Ice.ThreadPool.Client.SizeMax = 100
Ice.ThreadPool.Server.SizeMax = 100

Ice.MessageSizeMax = 99999999

#
# Warn about connection exceptions
#
Ice.Warn.Connections=1

#
# Network Tracing
#
# 0 = no network tracing
# 1 = trace connection establishment and closure
# 2 = like 1, but more detailed
# 3 = like 2, but also trace data transfer
#
#Ice.Trace.Network=3

#
# Protocol Tracing
#
# 0 = no protocol tracing
# 1 = trace protocol messages
#
#Ice.Trace.Protocol=1
